.header {
    // background-color: #003b95;
    background-image: url('https://res.cloudinary.com/dirvusyaz/image/upload/v1703159337/kevrlh9fb6re5j8tsgwg.jpg');
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    background-repeat: round;
}

.headerToogle{
   background-color: #003b95;
  
   color: white;
   display: flex;
   justify-content: center;
   position: relative;
   background-repeat: round; 
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}



.headerSearch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;

    .headerSearchItem {
        background-color: white;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 4px solid #ffb700;
        width: 100%;
        border-radius: 8px 0px 0px 8px;
        padding-left: 8px;
    }

    :nth-child(2) {
        border-left: none;
        border-radius: 0px;
    }

    :nth-child(3) {
        border-left: none;
        border-radius: 0px;
    }

    :nth-child(4) {
        border-left: none;
        border-radius: 0px 8px 8px 0px;
        padding: 0;
        background-color:#ffb700;
    }

    .headerBtn {
        background-color: #0071c2;
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        border-radius: 8px;
    }


}

.headerIcon {
    color: rgb(2, 2, 2);
    height: 23px;
}


.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchInput::placeholder {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: #1a1a1a;
}

.headerSearchText {
    // color: lightgray;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.headerLogBtn{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #006CE4;
}

@media (max-width: 600px) {
    .headerSearch {
        flex-direction: column;
        width: calc(100% - 0px);
        border: none;
        align-items: revert;
        height: 73px;
        z-index: 2;

        :first-child {}

        :nth-child(2) {
            border-top: none !important;
        }

        :nth-child(3) {
            border-top: none !important;
        }

        :nth-child(4) {
            padding: 0px;
            border-top: none !important;
        }
    }

    .headerSearchItem {
        background-color: white;
        border: 3px solid #febb02;
        border-radius: 5px;
        padding: 5px;
    }

    .headerList {
        gap: 18px;
        font-size: 9px;
    }

    .featured {
        padding: 40px !important;
    }

    .headerBtn {
        width: 100%;
    }
}
