.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 17px;
}

.userImg {
    height: 35px;
    border-radius: 70px;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 23px;
    font-weight: 700;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}
